body {
  background-color: #061214;
}

#root {
  // font-family: 'Press Start 2P', cursive;
  // font-family: 'Unica One', cursive;
  // font-family: 'PT Mono', monospace;
  font-family: 'Monoton', cursive;

  background-image: url("../assets/pageBackground/Sketch_3_color-22.gif");
  background-size: cover;
  background-position-y: center;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  // position: absolute;
  // top: 50px;
  // left: 50px;
  width: 200px;
  opacity: 90%;
  transition: 300ms ease;
}

.start-button:hover {
  opacity: 100%;
  transition: 300ms ease;

}

#game {
  // border: 2px solid #061214;
  // height: fit-content;
  // width: fit-content;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  width: 1000px;
  font-weight: 700;
  font-size: 70px;
  color: #F6E0C0;
  margin: 3vw;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: #061214;
}

