body {
  background-color: #061214;
}

#root {
  // font-family: 'Press Start 2P', cursive;
  // font-family: 'Unica One', cursive;
  // font-family: 'PT Mono', monospace;
  font-family: 'Monoton', cursive;

  background-image: url("../assets/pageBackground/Sketch_3_color-22.gif");
  background-size: cover;
  background-position-y: center;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  width: 1000px;

}

.title {
  font-weight: 700;
  font-size: 70px;
  color: #F6E0C0;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #26546A;
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  // position: absolute;
  // top: 50px;
  // left: 50px;
  width: 200px;
  opacity: 90%;
  transition: 300ms ease;
}

.start-button:hover {
  opacity: 100%;
  transition: 300ms ease;
}

.start-html {
  font-size: 30px;
  font-weight: 500;
  transition: 300ms ease;
  background-color: rgba(235, 174, 167, 0.863);
  color: #26546A;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #26546A;
}

.start-html:hover {
  background-color: #EBAEA7;
  transition: 300ms ease;
  cursor: pointer;
  
}

#game {
  border: 3px solid #26546A;
  background-color: #26546A;
}


.info {
  width: 1000px;
  height: 150px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(235, 174, 167);
  color: #26546A;
  border: 3px solid #26546A;
}

.info * {
  font-size: 16px;
}

.info .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.burger-1 {
  width: 150px;
  object-fit: cover;
  opacity: 0.7;
  border-right: 3px solid #26546A;
}

.burger-2 {
  width: 150px;
  object-fit: cover;
  opacity: 0.7;
  border-right: 3px solid #26546A;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

